.c-board {
    
    &-list {
        display: flex;
        align-items: flex-start;
        margin-top: 64px;
        height: calc(100% - 64px);
        position: absolute;
        background-color: #007ABB;
        min-width: 100%;
        min-height: calc(100% - 64px);
    }
}