.c-column {
    margin: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    &-content {
        border-radius: 5px;
        background-color: #E1E3E5;
    }
    &-title {
        margin: 8px;
        font-size: 20px;
    }
    &-add-button {
        text-transform: none;
    }
}